
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position:relative; display: block; margin: 0px; border: none; padding: 0px; }


div { position: absolute; }

#content-container { display: block; position: relative; width:fit-content; width: 1728px; height: 1117px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_macbook_pro_16____2_ek1 {
	top: 0px;
	left: 0px;
	width: 1728px;
	height: 1117px;
}

#_bg__macbook_pro_16____2_ek2 {
	top: 0px;
	left: 0px;
	width: 1728px;
	height: 1117px;
	background:rgba(217.81,29.04,29.04,1);
}


#rectangle_3 {
	top: 0px;
	left: 0px;
	width: 1728px;
	height: 1117px;
	background:rgba(3.19,0.86,0.86,1);
}


#rectangle_7 {
	top: 12px;
	left: 14px;
	width:fit-content;
	height:fit-content;
	-ms-border-radius: 143px;
	-o-border-radius: 143px;
	-moz-border-radius: 143px;
	-webkit-border-radius: 143px;
	border-radius: 143px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(90.31,90.31,90.31,1);
}


#rectangle_6 {
	top: 224px;
	left: 24px;
	width: 893px;
	height: 813px;
border-radius: 40px;
	background:rgba(217,217,217,1);
}


#from_cutting_edge_smartphones_to_groundbreaking_software_and_everything_in_between__we_ve_got_you_covered_ {
	top: 157px;
	left: 61px;
	width: 693px;
	height: 820px;
	overflow: hidden;
	font-family: Staatliches;
	font-size: 64px;
	text-align: left;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#5A5A5A;
}


#rectangle_5 {
	top: 81px;
	left: 362px;
	width: 1278px;
	height: 100px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(217,217,217,1);
}

#frame_2 {
	top: 81px;
	left: 503px;
	width: 995px;
	height: 98px;
}

#home {
	top: 24px;
	left: -13.5px;
	width: 202px;
	height: 78px;
	overflow: hidden;
	font-family: Staatliches;
	font-size: 40px;
	text-align: center;
	color:#FC1919;
}


#blogs {
	top: 24px;
	left: 263.5px;
	width: 202px;
	height: 78px;
	overflow: hidden;
	font-family: Staatliches;
	font-size: 40px;
	text-align: center;
	color:#FC1919;
}


#aboutme {
	top: 24px;
	left: 540.5px;
	width: 202px;
	height: 78px;
	overflow: hidden;
	font-family: Staatliches;
	font-size: 40px;
	text-align: center;
	color:#FC1919;
}


#contact {
	top: 24px;
	left: 817.5px;
	width: 202px;
	height: 78px;
	overflow: hidden;
	font-family: Staatliches;
	font-size: 40px;
	text-align: center;
	color:#FC1919;
}


#rectangle_4 {
	top: 79px;
	left: 62px;
	width: 240.21px;
	height: 100px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	
	-ms-transform:rotate(0.61deg);
	-o-transform:rotate(0.61deg);
	-webkit-transform:rotate(0.61deg);
	-moz-transform:rotate(0.61deg);
	transform:rotate(0.61deg);
	background:rgba(250.75,18.81,18.81,1);
}


#cybernerd {
	top: 104px;
	left: 94px;
	width: 187px;
	height: 78px;
	overflow: hidden;
	font-family: Staatliches;
	font-size: 40px;
	text-align: center;
	color:#FFF9F9;
}


#bladebaron_red_and_black_contrast_theme_image_with_futuristic_t_25b829fe_8169_47c6_9890_ae4e72cba2a5_1 {
	top: 224px;
	left: 917px;
	width: 785px;
	height: 813px;
	border-radius: 30px;
}



